USE [master]
GO
/****** Object:  Database [ManpowerDb3]    Script Date: 3/23/2025 7:43:09 PM ******/
CREATE DATABASE [ManpowerDb3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManpowerDb3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ManpowerDb3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManpowerDb3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ManpowerDb3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManpowerDb3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManpowerDb3]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[Date] [datetime2](7) NULL,
	[CheckInTime] [time](7) NULL,
	[CheckOutTime] [time](7) NULL,
	[Status] [nvarchar](max) NULL,
	[WeekNumber] [int] NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CleanroomEntry]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CleanroomEntry](
	[CEntryID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[CheckInDateTime] [datetime2](7) NULL,
	[CheckOutDateTime] [datetime2](7) NULL,
	[CStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CleanroomEntry] PRIMARY KEY CLUSTERED 
(
	[CEntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EICC_Control]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EICC_Control](
	[ControlID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[WeekID] [int] NOT NULL,
	[TotalHours] [real] NULL,
	[DaysWorked] [int] NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EICC_Control] PRIMARY KEY CLUSTERED 
(
	[ControlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeInfo](
	[EmpID] [int] NOT NULL,
	[GID] [bigint] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Division] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Section] [nvarchar](max) NULL,
	[JobGrade] [nvarchar](max) NULL,
	[BossID] [int] NULL,
	[BossGID] [bigint] NULL,
	[CostCenter] [nvarchar](max) NULL,
	[ShiftCode] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_EmployeeInfo] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GateEntry]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GateEntry](
	[GateEntryID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[EntryDateTime] [datetime2](7) NULL,
	[ExitDateTime] [datetime2](7) NULL,
	[GateNo] [nvarchar](max) NULL,
	[Room] [nvarchar](max) NULL,
	[GateStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_GateEntry] PRIMARY KEY CLUSTERED 
(
	[GateEntryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeadcountTransition]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeadcountTransition](
	[DateTime] [datetime2](7) NOT NULL,
	[TransType] [nvarchar](max) NULL,
	[EmpID] [int] NULL,
 CONSTRAINT [PK_HeadcountTransition] PRIMARY KEY CLUSTERED 
(
	[DateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManpowerPlan]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManpowerPlan](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NULL,
	[ShiftCode] [nvarchar](max) NOT NULL,
	[Shift] [nvarchar](max) NOT NULL,
	[PlannedHeadcount] [int] NULL,
	[ActualHeadcount] [int] NULL,
 CONSTRAINT [PK_ManpowerPlan] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManpowerReq]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManpowerReq](
	[MPRID] [nvarchar](450) NOT NULL,
	[Date] [datetime2](7) NULL,
	[Biz] [nvarchar](max) NOT NULL,
	[Process] [nvarchar](max) NOT NULL,
	[Require] [int] NULL,
	[SkillGroup] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ManpowerReq] PRIMARY KEY CLUSTERED 
(
	[MPRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OJTandInspectionSkill]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OJTandInspectionSkill](
	[CourseNo] [nvarchar](450) NOT NULL,
	[CourseGroup] [nvarchar](max) NOT NULL,
	[Biz] [nvarchar](max) NOT NULL,
	[Process] [nvarchar](max) NOT NULL,
	[CerNo] [nvarchar](max) NOT NULL,
	[Active] [int] NULL,
	[SkillGroup] [nvarchar](max) NOT NULL,
	[EmpID] [int] NOT NULL,
 CONSTRAINT [PK_OJTandInspectionSkill] PRIMARY KEY CLUSTERED 
(
	[CourseNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklySchedule]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklySchedule](
	[WeekID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [nvarchar](max) NOT NULL,
	[Week] [int] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[AbsentCount] [int] NULL,
 CONSTRAINT [PK_WeeklySchedule] PRIMARY KEY CLUSTERED 
(
	[WeekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Worktime]    Script Date: 3/23/2025 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worktime](
	[WorkTimeID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[Date] [datetime2](7) NULL,
	[WorkedHours] [real] NULL,
	[OT_Hours] [real] NULL,
	[EICC_Hours] [real] NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Worktime] PRIMARY KEY CLUSTERED 
(
	[WorkTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250310210024_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250310220939_InEmployeeInfo', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250310235701_EmployeeInfo', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [Date], [CheckInTime], [CheckOutTime], [Status], [WeekNumber]) VALUES (1, 19893030, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), CAST(N'07:01:29' AS Time), CAST(N'19:16:00' AS Time), N'On Time', 1)
INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [Date], [CheckInTime], [CheckOutTime], [Status], [WeekNumber]) VALUES (2, 1990080, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), CAST(N'07:01:30' AS Time), CAST(N'19:16:01' AS Time), N'On Time', 1)
INSERT [dbo].[Attendance] ([AttendanceID], [EmpID], [Date], [CheckInTime], [CheckOutTime], [Status], [WeekNumber]) VALUES (3, 1990117, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), CAST(N'07:01:31' AS Time), CAST(N'19:16:02' AS Time), N'On Time', 1)
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[CleanroomEntry] ON 

INSERT [dbo].[CleanroomEntry] ([CEntryID], [EmpID], [CheckInDateTime], [CheckOutDateTime], [CStatus]) VALUES (1, 19893030, CAST(N'2025-01-06T07:01:29.0000000' AS DateTime2), CAST(N'2025-01-06T19:16:00.0000000' AS DateTime2), N'OUT')
INSERT [dbo].[CleanroomEntry] ([CEntryID], [EmpID], [CheckInDateTime], [CheckOutDateTime], [CStatus]) VALUES (2, 1990080, CAST(N'2025-01-06T07:01:30.0000000' AS DateTime2), CAST(N'2025-01-06T19:16:01.0000000' AS DateTime2), N'OUT')
INSERT [dbo].[CleanroomEntry] ([CEntryID], [EmpID], [CheckInDateTime], [CheckOutDateTime], [CStatus]) VALUES (3, 1990117, CAST(N'2025-01-06T07:01:31.0000000' AS DateTime2), CAST(N'2025-01-06T19:16:02.0000000' AS DateTime2), N'OUT')
GO
SET IDENTITY_INSERT [dbo].[CleanroomEntry] OFF
GO
SET IDENTITY_INSERT [dbo].[EICC_Control] ON 

INSERT [dbo].[EICC_Control] ([ControlID], [EmpID], [WeekID], [TotalHours], [DaysWorked], [Status]) VALUES (1, 19893030, 1, 55, 5, N'Near Over')
INSERT [dbo].[EICC_Control] ([ControlID], [EmpID], [WeekID], [TotalHours], [DaysWorked], [Status]) VALUES (2, 1990080, 1, 55, 5, N'Near Over')
INSERT [dbo].[EICC_Control] ([ControlID], [EmpID], [WeekID], [TotalHours], [DaysWorked], [Status]) VALUES (3, 1990117, 1, 55, 5, N'Near Over')
GO
SET IDENTITY_INSERT [dbo].[EICC_Control] OFF
GO
INSERT [dbo].[EmployeeInfo] ([EmpID], [GID], [FirstName], [LastName], [Division], [Department], [Section], [JobGrade], [BossID], [BossGID], [CostCenter], [ShiftCode], [Position], [Email]) VALUES (1989030, 5016089030, N'Somchok', N'Vukthong', N'GAF', N'CEN', N'GAF Center', N'M7', 2022014, 910249, N'3001', N'O', N'Executive Director', N'somchok.vukthong@sony.com')
INSERT [dbo].[EmployeeInfo] ([EmpID], [GID], [FirstName], [LastName], [Division], [Department], [Section], [JobGrade], [BossID], [BossGID], [CostCenter], [ShiftCode], [Position], [Email]) VALUES (1990080, 5016090080, N'Porntip', N'Chitreechur', N'MPC', N'CEN', N'Center MPC_1', N'M6', 1992197, 5016092197, N'5400', N'O', N'Assistant General Manager', N'porntip.chitreechur@sony.com')
INSERT [dbo].[EmployeeInfo] ([EmpID], [GID], [FirstName], [LastName], [Division], [Department], [Section], [JobGrade], [BossID], [BossGID], [CostCenter], [ShiftCode], [Position], [Email]) VALUES (1990117, 5016090117, N'Wannaporn', N'Sirilertchaiyakul', N'AD1', N'CEN', N'AD1 Center', N'M6', 2006271, 5016104869, N'2000', N'O', N'Assistant General Manager', N'wannaporn.sirilertchaiyakul@sony.com')
GO
SET IDENTITY_INSERT [dbo].[GateEntry] ON 

INSERT [dbo].[GateEntry] ([GateEntryID], [EmpID], [EntryDateTime], [ExitDateTime], [GateNo], [Room], [GateStatus]) VALUES (1, 19893030, CAST(N'2025-01-06T07:00:00.0000000' AS DateTime2), NULL, N'D01', N'Locker_Men', N'IN')
INSERT [dbo].[GateEntry] ([GateEntryID], [EmpID], [EntryDateTime], [ExitDateTime], [GateNo], [Room], [GateStatus]) VALUES (2, 1990080, CAST(N'2025-01-06T07:00:01.0000000' AS DateTime2), NULL, N'D02', N'Locker_Men', N'IN')
INSERT [dbo].[GateEntry] ([GateEntryID], [EmpID], [EntryDateTime], [ExitDateTime], [GateNo], [Room], [GateStatus]) VALUES (3, 1990117, CAST(N'2025-01-06T07:00:02.0000000' AS DateTime2), NULL, N'D03', N'Locker_Women', N'IN')
GO
SET IDENTITY_INSERT [dbo].[GateEntry] OFF
GO
INSERT [dbo].[HeadcountTransition] ([DateTime], [TransType], [EmpID]) VALUES (CAST(N'2025-01-06T07:00:01.0000000' AS DateTime2), N'Signed', 19893030)
INSERT [dbo].[HeadcountTransition] ([DateTime], [TransType], [EmpID]) VALUES (CAST(N'2025-01-07T07:00:02.0000000' AS DateTime2), N'Signed', 1990080)
INSERT [dbo].[HeadcountTransition] ([DateTime], [TransType], [EmpID]) VALUES (CAST(N'2025-01-08T07:00:03.0000000' AS DateTime2), N'Signed', 1990117)
GO
SET IDENTITY_INSERT [dbo].[ManpowerPlan] ON 

INSERT [dbo].[ManpowerPlan] ([PlanID], [Date], [ShiftCode], [Shift], [PlannedHeadcount], [ActualHeadcount]) VALUES (1, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), N'A', N'DAY', 100, 90)
INSERT [dbo].[ManpowerPlan] ([PlanID], [Date], [ShiftCode], [Shift], [PlannedHeadcount], [ActualHeadcount]) VALUES (2, CAST(N'2025-01-13T00:00:00.0000000' AS DateTime2), N'B', N'DAY', 100, 97)
INSERT [dbo].[ManpowerPlan] ([PlanID], [Date], [ShiftCode], [Shift], [PlannedHeadcount], [ActualHeadcount]) VALUES (3, CAST(N'2025-01-20T00:00:00.0000000' AS DateTime2), N'C', N'DAY', 100, 98)
SET IDENTITY_INSERT [dbo].[ManpowerPlan] OFF
GO
INSERT [dbo].[ManpowerReq] ([MPRID], [Date], [Biz], [Process], [Require], [SkillGroup]) VALUES (N'10003', CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), N'IS', N'ASSY', 0, N'Operation')
INSERT [dbo].[ManpowerReq] ([MPRID], [Date], [Biz], [Process], [Require], [SkillGroup]) VALUES (N'10004', CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), N'IS', N'ASSY', 0, N'Inspection')
INSERT [dbo].[ManpowerReq] ([MPRID], [Date], [Biz], [Process], [Require], [SkillGroup]) VALUES (N'10005', CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), N'IS', N'ASSY', 0, N'Material')
GO
INSERT [dbo].[OJTandInspectionSkill] ([CourseNo], [CourseGroup], [Biz], [Process], [CerNo], [Active], [SkillGroup], [EmpID]) VALUES (N'C0001', N'Inspection', N'SMOLED', N'INF', N'INS00001', 2, N'Material', 1989213)
INSERT [dbo].[OJTandInspectionSkill] ([CourseNo], [CourseGroup], [Biz], [Process], [CerNo], [Active], [SkillGroup], [EmpID]) VALUES (N'C0002', N'Inspection', N'IS-BMS', N'ASSY', N'INS00002', 1, N'Material', 1989175)
INSERT [dbo].[OJTandInspectionSkill] ([CourseNo], [CourseGroup], [Biz], [Process], [CerNo], [Active], [SkillGroup], [EmpID]) VALUES (N'C0003', N'Inspection', N'SMOLED', N'KOC', N'INS00003', 3, N'Inspection', 1989297)
GO
SET IDENTITY_INSERT [dbo].[WeeklySchedule] ON 

INSERT [dbo].[WeeklySchedule] ([WeekID], [Year], [Month], [Week], [StartDate], [EndDate], [AbsentCount]) VALUES (1, 2025, N'1', 1, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), CAST(N'2025-01-12T00:00:00.0000000' AS DateTime2), 10)
INSERT [dbo].[WeeklySchedule] ([WeekID], [Year], [Month], [Week], [StartDate], [EndDate], [AbsentCount]) VALUES (2, 2025, N'1', 2, CAST(N'2025-01-13T00:00:00.0000000' AS DateTime2), CAST(N'2025-01-19T00:00:00.0000000' AS DateTime2), 3)
INSERT [dbo].[WeeklySchedule] ([WeekID], [Year], [Month], [Week], [StartDate], [EndDate], [AbsentCount]) VALUES (3, 2025, N'1', 3, CAST(N'2025-01-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-01-26T00:00:00.0000000' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[WeeklySchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Worktime] ON 

INSERT [dbo].[Worktime] ([WorkTimeID], [EmpID], [Date], [WorkedHours], [OT_Hours], [EICC_Hours], [Status]) VALUES (1, 19893030, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), 8, 3, 11, N'Near Over')
INSERT [dbo].[Worktime] ([WorkTimeID], [EmpID], [Date], [WorkedHours], [OT_Hours], [EICC_Hours], [Status]) VALUES (2, 1990080, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), 8, 3, 11, N'Near Over')
INSERT [dbo].[Worktime] ([WorkTimeID], [EmpID], [Date], [WorkedHours], [OT_Hours], [EICC_Hours], [Status]) VALUES (3, 1990117, CAST(N'2025-01-06T00:00:00.0000000' AS DateTime2), 8, 3, 11, N'Near Over')
GO
SET IDENTITY_INSERT [dbo].[Worktime] OFF
GO
ALTER TABLE [dbo].[CleanroomEntry]  WITH CHECK ADD  CONSTRAINT [FK_CleanroomEntry_CleanroomEntry] FOREIGN KEY([CEntryID])
REFERENCES [dbo].[CleanroomEntry] ([CEntryID])
GO
ALTER TABLE [dbo].[CleanroomEntry] CHECK CONSTRAINT [FK_CleanroomEntry_CleanroomEntry]
GO
ALTER TABLE [dbo].[EICC_Control]  WITH CHECK ADD  CONSTRAINT [FK_EICC_Control_EICC_Control] FOREIGN KEY([ControlID])
REFERENCES [dbo].[EICC_Control] ([ControlID])
GO
ALTER TABLE [dbo].[EICC_Control] CHECK CONSTRAINT [FK_EICC_Control_EICC_Control]
GO
ALTER TABLE [dbo].[HeadcountTransition]  WITH CHECK ADD  CONSTRAINT [FK_HeadcountTransition_HeadcountTransition] FOREIGN KEY([DateTime])
REFERENCES [dbo].[HeadcountTransition] ([DateTime])
GO
ALTER TABLE [dbo].[HeadcountTransition] CHECK CONSTRAINT [FK_HeadcountTransition_HeadcountTransition]
GO
ALTER TABLE [dbo].[OJTandInspectionSkill]  WITH CHECK ADD  CONSTRAINT [FK_OJTandInspectionSkill_OJTandInspectionSkill] FOREIGN KEY([CourseNo])
REFERENCES [dbo].[OJTandInspectionSkill] ([CourseNo])
GO
ALTER TABLE [dbo].[OJTandInspectionSkill] CHECK CONSTRAINT [FK_OJTandInspectionSkill_OJTandInspectionSkill]
GO
USE [master]
GO
